<br>
<div class="row">
  <div class="col-md-6">
    <form class="form-inline">
      <div class="form-group">
        <input class="form-control mr-2 custom-input" type="text" placeholder="Rechercher par nom" [(ngModel)]="name" name="SearchInputName">
      </div>
      <button class="btn btn-info custom-button" id="SearchName" (click)="searchByName()">Rechercher par nom</button>
    </form>
  </div>
  <div class="col-md-6">
    <form name="myForm" class="myForm form-inline">
      <div class="form-group">
        <label for="dateDebut" class="mr-2">Filtrer par date de début :</label>
        <select class="form-control custom-input" id="dateDebut" [(ngModel)]="selectedDateFilter" name="selectedDateFilter">
          <option value="all">Tous les événements</option>
          <option value="recent">Evénements les plus récents</option>
          <option value="oldest">Evénements les plus anciens</option>
        </select>
      </div>
      <button class="btn btn-danger ml-2" (click)="filterData()" id="dateDebut">Filtrer</button>
    </form>
  </div>
</div>

<div class="container mt-5">
    <h2>Liste des événements</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nom de l'événement</th>
          <th>Date de début</th>
          <th>Date de fin</th>
          <th>Lieu</th>
          <th>Prix d'entrée</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td>{{ event.name_event }}</td>
          <td>{{ event.start_date | date }}</td>
          <td>{{ event.end_date | date }}</td>
          <td>{{ event.location }}</td>
          <td>{{ event.entry_price}}</td>
        </tr>
      </tbody>
    </table>
    <router-outlet></router-outlet>
</div>
