<br>
<form class="form-inline my-2 my-lg-0">
  <button class="btn btn-info custom-button" id="SearchName" (click)="searchByName()">Search By Name</button>
  <input class="form-control mr-sm-2 custom-input" type="text" placeholder="Rechercher Par nom" aria-label="Search" [(ngModel)]="name" name="SearchInputName">
</form>

<div class="container mt-5">
    <h2>Liste des événements</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nom de l'événement</th>
          <th>Date de début</th>
          <th>Date de fin</th>
          <th>Lieu</th>
          <th>Prix d'entrée</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td>{{ event.name_event }}</td>
          <td>{{ event.start_date | date }}</td>
          <td>{{ event.end_date | date }}</td>
          <td>{{ event.location }}</td>
          <td>{{ event.entry_price}}</td>
        </tr>
      </tbody>
    </table>
</div>
