<h1>Liste des Magasins</h1>
<div class="t">
  <div class="input-group w-50" id="r">
    <span class="input-group-text" id="basic-addon1">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
      </svg>
    </span>
    <span>
      <input type="text" class="form-control" name="nomMagasin" [(ngModel)]="name" (ngModelChange)="search()" placeholder="entrer nom de magasin" aria-label="Input group example" aria-describedby="basic-addon1">
    </span>
  </div>
  <div [ngStyle]="{'text-align': 'right'}" id="r">
    <button (click)="refresh()" type="button" class="btn btn-primary">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
      </svg>
      Reload
    </button>
  </div>
  <table class="table table-striped table-bordered table-dark table-md mt-1" cellspacing="0">
    <thead>
      <tr>
        <th class="th-sm" scope="col" (click)="sort('idMagasin')">ID&nbsp; <i class="fa fa-sort"></i></th>
        <th class="th-sm" scope="col" (click)="sort('nomMagasin')">Nom de magasin&nbsp; <i class="fa fa-sort"></i></th>
        <th class="th-sm" scope="col" (click)="sort('location')">Emplacement&nbsp; <i class="fa fa-sort"></i></th>
        <th class="th-sm" scope="col" (click)="sort('phoneNumber')">Numéro de téléphone&nbsp; <i class="fa fa-sort"></i></th>
        <th class="th-sm" scope="col" (click)="sort('productCategory')">Catégorie de produit&nbsp; <i class="fa fa-sort"></i></th>
        <th class="th-sm" scope="col" (click)="sort('description')">Description&nbsp; <i class="fa fa-sort"></i></th>
        <th class="th-sm">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let magasin of magasins | orderBy: key: reverse | paginate: {itemsPerPage: 5, currentPage: p};">
        <th scope="row">{{magasin.id}}</th>
        <td>{{magasin.name}}</td>
        <td>{{magasin.location}}</td>
        <td>{{magasin.phoneNumber}}</td>
        <td>{{magasin.productCategory}}</td>
        <td>{{magasin.description}}</td>
        <td>
          <button type="button" class="btn btn-outline-danger" (click)="deleteMagasin(magasin.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg>
          </button>
          <button routerLink="modifier/{{magasin.id}}" type="button" class="btn btn-outline-warning" [ngStyle]="{'margin-left': '2rem'}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
              <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </table>

  <router-outlet></router-outlet>
</div>
