<table class="order-table">
  <thead>
    <tr>
      <th>Order Date</th>
      <th>Address</th>
      <th>Modify</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.orderDate }}</td>
      <td>{{ order.address }}</td>
      <td>
        <a [routerLink]="['/modifyorder', order.id]">
          <button class="modify-button" routerLink="/modifyorder/{{ order.id }}">Modify</button>
        </a>
      </td>
      <td>
        <button class="delete-button" (click)="deleteOrder(order)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
