<h2>Boutique Promotions</h2>
<button (click)="openAlertWithPromotionDetails()" class="cssbuttons-io-button">
  View Latest Promotion
  <div class="icon">
    <svg
      height="24"
      width="24"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path
        d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
        fill="currentColor"
      ></path>
    </svg>
  </div>
</button>
<!-- Modal -->

<table class="table table-striped table-bordered table-md mt-1" cellspacing="0">
  <thead>
    <tr>
      <th>Boutique Name</th>
      <th>Promotion Percentage</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of boutiquePromotions">
      <td>{{ item.nameStore }}</td>
      <td>{{ item.percentage }}</td>
      <td>{{ item.startDate }}</td>
      <td>{{ item.endDate }}</td>
    </tr>
  </tbody>
</table>
