<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="list-group">
    <a routerLink="#" class="list-group-item list-group-item-action  active">
      <div class="d-flex w-100 justify-content-between">
        <p>{{departement.idDepart}}</p>
        <h5 class="mb-1">{{departement.nomDepart}}</h5>
        <small>{{departement.surface}}</small>
      </div>
      <p class="mb-1">{{departement.emplacement}}</p>
      <small>{{departement.prix}}</small>
    </a>
    <button class="btn" (click)="OnDeleteDepartement(departement)"><i class="fa fa-trash"></i></button>
  </div>
