<div class="container">
    <div class="row">
        <div class="col-md-5">
            <a  class="list-group-item list-group-item-action  active" type="button">
                <div class="d-flex w-100 justify-content-between">
                    <p>Id  departement</p>
                  <h5 class="mb-1">Nom departement</h5>
                  <small>surface</small>
                </div>
                <p class="mb-1">emplacement</p>
                <small>prix</small>
              </a>
            <app-departement-item *ngFor="let depart of departementsList | paginate: { itemsPerPage: 5, currentPage: p }" [departement]="depart" (departementDeleted)="OnDepartementDeleted()"></app-departement-item>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>
