<div class="d-flex justify-content-center align-items-center container mt-5">
  <form #f="ngForm" (ngSubmit)="f.form.valid && update()">
    <div ngModelGroup="firstInfo" #sg="ngModelGroup">
    <div class="form-group">
      <label>
          Nom Equipe : <input type="text" name="nomEquipe"
          #nomEquipe="ngModel"  [(ngModel)]="equipe.nomEquipe" required minlength="3" pattern="[a-zA-Z]*"
           class="form-control"  id="nomEquipe" placeholder="Enter Nom d'equipe"/>
        </label>
      </div>
   
     
      
          <div *ngIf="nomEquipe.invalid  && f.submitted" class="alert alert-danger" role="alert">
              Nom d'equipe est obligatoire !
            </div>
            <div *ngIf = "nomEquipe.hasError('minlength') && !nomEquipe.hasError('required')" class = "alert alert-danger">
              <span>Nombre de lettres minimale est 3</span>
            </div>  
           <div *ngIf="nomEquipe.hasError('pattern')" class="alert alert-danger" role="alert">
              Tous sont des lettres
           </div>
      
          
      <div class="form-group">
        <label>
          Niveau : <select  name="niveau"
          #niveau="ngModel" ngModel  [(ngModel)]="equipe.niveau" [ngClass]="class" required  id="niveau" placeholder="Enter Niveau">
              <option value="JUNIOR" >JUNIOR</option>
              <option value="SENIOR">SENIOR</option>
              <option value="EXPERT">EXPERT</option>
              </select>
              <div *ngIf="niveau.invalid  && f.submitted" class="alert alert-danger" role="alert">
                 
                      Niveau est obligatoire !
                   
                  </div>
        </label>
  
      </div>
    </div>  
  
      
      
  
  
    <!--
    -->
    <div *ngIf="sg.valid">
    <div class="form-group">
      <label>
          Salle : <input type="number" name="salle"
          #salle="ngModel"  [(ngModel)]="equipe.salle" required min="1" max="10"
           class="form-control"  id="salle"/>
        </label>
      </div>
    <div class="form-group">
      <label for="dateCreation">Date de creation : <input type="date" name="dateCreation" class="form-control" #dateCreation="ngModel"  [(ngModel)]="equipe.dateCreation" required></label>
      <div *ngIf="dateCreation.invalid  && f.submitted" class="alert alert-danger" role="alert">
                 
        date de creation est obligatoire !
     
    </div>
  </div>
  
  
  
  </div>
  <button type="submit" class="btn-primary btn-sm" >Submit</button>
  
  </form>
  
  </div>
 <router-outlet></router-outlet>