<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<br>
<form class="form-inline my-2 my-lg-0">
  <button class="btn btn-info" id="SearchTitle" (click)="TestStatus()">Search By Title</button>
  <input class="form-control mr-sm-2" type="text" placeholder="Rechercher Par titre" aria-label="Search" [(ngModel)]="titre" name="SearchInputTitre">

  
  <div class="dropdown">
    <label for="categoryDropdown">Rechercher par categorie :</label>
    <br>
    <select id="categoryDropdown">
      <option value="">Sélectionner une catégorie</option>
      <option *ngFor="let category of categories" [value]="category.nom" style="color:black;">
        {{ category.nom }}
      </option>
    </select>
  </div>
  
  <button class="btn btn-primary" id="categorie" (click)="searchByCategory()">Rechercher par catégorie</button>
  
  
  <form name="myForm">
    <div class="datePublication">
      <label for="datePublicationDropdown">Rechercher par datePublication:</label>
      <br>
      <select id="datePublicationDropdown" [(ngModel)]="selectedDateFilter" name="selectedDateFilter">
        <option value="all">Tous les articles</option>
        <option value="recent">Articles les plus récents</option>
        <option value="oldest">Articles les plus anciens</option>
      </select>
    </div>
  
    <button class="btn btn-danger" (click)="filterData()" id="datePublication">Filtrer</button>
  </form>
  
  

</form>


<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center">Liste d'articles</h2> 
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th>idArticle</th>
            <th>titre</th>
            <th>contenu</th>
            <th>auteur</th>
            <th>datePublication</th>
            <!-- <th>Afficher Detail article</th> -->
          </tr>
        </thead>
        <tbody *ngFor="let article of data">
          <tr>
            <td>{{ article.id[0] }}</td>
            <td>{{ article.titreArticle }}</td>
            <td>{{ article.contenu }}</td>
            <td>{{ article.auteur }}</td>
            <td>{{article.datePublication}}</td>
            <!-- <td><button class="btn btn-info" (click)="ShowDetails(article.id,article.titreArticle,article.contenu,article.auteur)">Afficher Details article</button></td> -->
          </tr>
        </tbody>
      </table>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>










