<div class="container">
    <form action="" #f="ngForm" (ngSubmit)="updateUniversite()" >
      <div class="form-group">
        <label for="" class="inline-block mb-2 progress-bar progress-bar-striped progress-bar-animated" >Nom Universite</label>
        <input class="" type="text" name="nom" class="form-control" ngModel required #l="ngModel" [(ngModel)]="universite.nomUniv">  
      </div>
      <div class="alert alert-danger" *ngIf="l.invalid && l.touched">nom invalide</div>
      <div class="form-group">
        <label for="" class="inline-block mb-2 progress-bar progress-bar-striped progress-bar-animated">Nombre de departement</label>
        <input class="" type="number" name="nombre_departement" class="form-control" ngModel required #e="ngModel" [(ngModel)]="universite.nombre_departement">  
      </div>
      <div class="alert alert-danger" *ngIf="e.invalid && e.touched">nombre de departement invalide</div>
      <div class="form-group">
        <label for="" class="inline-block mb-2 progress-bar progress-bar-striped progress-bar-animated">Email</label>
        <input type="" name="email" class="form-control" ngModel required #r="ngModel" [(ngModel)]="universite.email">
      </div>
      <div class="alert alert-danger" *ngIf="r.invalid && r.touched">email invalide</div>
      <div class="form-group">
        <label for="" class="inline-block mb-2 progress-bar progress-bar-striped progress-bar-animated">Numero</label>
        <input type="text" name="numero" class="form-control" ngModel required #p="ngModel" [(ngModel)]="universite.numero">
        
      </div>
      <div class="alert alert-danger" *ngIf="p.invalid && p.touched">numero invalide</div>
    
 
    
  
  <button type="submit"  class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition
        hover:bg-indigo-500 disabled:opacity-50 disabled:bg-indigo-400btn btn btn-lg btn-primary "   >
      Submit
    </button>
</form>
    
   