<div class="d-flex justify-content-center align-items-center container mt-5">
    <form #f="ngForm" (ngSubmit)="f.form.valid && update()">
      <div ngModelGroup="storeInfo" #sg="ngModelGroup">
        <div class="form-group">
          <label>
            Store Name:
            <input type="text" name="name"
              #name="ngModel"  [(ngModel)]="magasin.name" required minlength="3"
              class="form-control"  id="name" placeholder="Enter Store Name"/>
          </label>
        </div>
  
        <div *ngIf="name.invalid && f.submitted" class="alert alert-danger" role="alert">
          Store name is required!
        </div>
        <div *ngIf="name.hasError('minlength') && !name.hasError('required')" class="alert alert-danger">
          <span>Minimum of 3 characters required</span>
        </div>
  
        <div class="form-group">
          <label>
            Description:
            <input type="text" name="description"
              #description="ngModel"  [(ngModel)]="magasin.description"
              class="form-control"  id="description" placeholder="Enter Description"/>
          </label>
        </div>
  
        <div class="form-group">
          <label>
            Location:
            <input type="text" name="location"
              #location="ngModel"  [(ngModel)]="magasin.location"
              class="form-control"  id="location" placeholder="Enter Location"/>
          </label>
        </div>
  
        <div class="form-group">
          <label>
            Phone Number:
            <input type="number" name="phoneNumber"
              #phoneNumber="ngModel"  [(ngModel)]="magasin.phoneNumber"
              class="form-control"  id="phoneNumber" placeholder="Enter Phone Number"/>
          </label>
        </div>
  
        <div class="form-group">
          <label>
            Product Category:
            <select name="productCategory"  [(ngModel)]="magasin.productCategory" #productCategory="ngModel" class="form-control" placeholder="Sélectionnez la catégorie de produit">
                <option value="ELECTRONICS">Électronique</option>
                <option value="CLOTHING">Vêtements</option>
                <option value="FOOD">Alimentation</option>
                <option value="BOOKS">Livres</option>
                <!-- Add more options as needed -->
              </select>
          </label>
        </div>
      </div>
  
      <button type="submit" class="btn-primary btn-sm">Submit</button>
    </form>
  </div>
  <router-outlet></router-outlet>
  